<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Get Weather</a>
        </div>
        <form class="navbar-form navbar-left" id="search-form" name="searchForm" ng-submit="getWeather(city)" novalidate>
            <div class="form-group">
                <input type="text" class="form-control" id="city" name="city" ng-model="city" placeholder="enter city..." required ng-minlength="2" ng-maxlength="20">
            </div>
            <button type="submit" class="btn btn-default" ng-disabled="searchForm.$invalid">Search</button>
        </form>
        <ul class="nav navbar-nav">
            <li ng-class="{ active: isActive('/about')}">
                <a href="#!/about">About</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="https://www.linkedin.com/in/nikolajolejnik"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="https://github.com/NikolajOlejnik"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
</nav>